@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sevillana&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: rgb(237, 217, 203);

}

header{
    background-color: cadetblue;
     /* margin-bottom: 10px;  */
}
main{
    background-color: rgb(237, 217, 203);

}
.cart1{
    margin-top: 10px;
}
.Title{
    color: rgb(194, 23, 75);
    font-family: "Baskervville SC", serif;
}
.areaf{
    font-family: "Sevillana", cursive;
}
.inst{
    font-family: "Inconsolata", monospace;

}
.backbtn:hover{
    background-color: black;
    color: aliceblue;
}
.Rbtn:hover{
    color: white;
    background-color: black;
}
 #show{
    background-color: rgb(237, 217, 203); }
 .ho:hover{
    text-decoration: underline;

 }
 .abt{
    font-family: "Sevillana", cursive;

 }
 .abt-us h2{
    font-family: "Bebas Neue", sans-serif;
 }
 .abt-us p{
    font-family: "Tomorrow", sans-serif;

 }
 .parahead{
    font-family: "Nerko One", cursive;
 }
 .heading{
    font-family: "Caveat", cursive;
 }